* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

header {
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    color: white;
    background-color: #000;
}

.header-container {
    height: 100%;
    width: 25vw;
    display: flex;
    justify-content: flex-end;
}

.gallery-view, .fullscreen-toggle {
    background-color: #4a4a4a;
    display: inline-block;
    padding: 0 5px;
    height: 30px;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: 10px;
    line-height: 30px;
    text-align: center;
}

i, .mic-name {
    color: white;
}

main {
    width: 100%;
    padding: 20px;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

footer {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    color: white;
}

.card {
    width: 250px;
    height: 150px;
    margin: 10px 4px;
    position: relative;
}

.mic-name {
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-left, .footer-right {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}

.footer-center {
    height: 100%;
    width: 45%;
}

.icon, .icon-text {
    text-align: center;
    width: 100px;
}

.icon {
    font-size: 30px;
}

/*debug rules*/

.debug header{
    background-color: red;
}

.debug main {
    background-color: #000;
}

.debug footer{
    background-color: red;
}

.debug .card {
    background-color: green;
}

.debug .header-container {
    background-color: purple;
}

.debug .footer-left, .debug .footer-right, .debug .footer-center {
    background-color: green;
}

/* end debug rules*/


/* scrollbar rules */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: lightgray
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray;
  }

  /* end scrollbar rules */
