* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    width: 100vw;
}

main {
    width: 100%;
    padding: 40px;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

footer {
    height: 100px;
    width: 100vw;
}

.card {
    width: 220px;
    height: 130px;
    margin: 10px 4px;
}

/*debug rules*/

.debug header{
    background-color: red;
}

.debug main {
    background-color: #000;
}

.debug footer{
    background-color: red;
}

.debug .card {
    background-color: green;
}

/* end debug rules*/


/* scrollbar rules */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: lightgray
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray;
  }

  /* end scrollbar rules */
