* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    width: 100vw;
    position: fixed;
    top: 0;
}

main {
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

footer {
    height: 100px;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.card {
    width: 220px;
    height: 130px;
    margin: 10px 4px;
}

/*debug rules*/

.debug header{
    background-color: red;
}

.debug main {
    background-color: blue;
}

.debug footer{
    background-color: red;
}

.debug .card {
    background-color: green;
}

/*debug rules*/